In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import requests
import re

# Precip Data

### Scraping data

In [29]:
url = "https://www.ncei.noaa.gov/pub/data/cirs/drd/drd964x.pdsi.txt"


#picking names for files to save. both a txt and a csv
txt_name = "rain.txt"
csv_name = "rain_dirty.csv"

# colspecs and cols is formatting specific to this file
#the first col of the txt contains several pieces of information in a string
colspecs = [
    (0, 2), (2, 4), (4, 6), (6, 10),
    (10, 17), (17, 24), (24, 31), (31, 38),
    (38, 45), (45, 52), (52, 59), (59, 66),
    (66, 73), (73, 80), (80, 87), (87, 94)
]

cols = [
    "state", "division", "element", "year",
    "jan","feb","mar","apr","may","jun","jul","aug",
    "sep","oct","nov","dec"
]


# takes input that is requests.get()
# saves txt file from it. no return value
def write_txt(txt_name, r):
    with open(txt_name, "wb") as f:
        f.write(r.content)


# no input, reads txt file, converts strings to numeric values, writes csv with numeric values
def txt_to_csv(txt_name, colspecs, cols, csv_name):
    df = pd.read_fwf(txt_name, colspecs=colspecs, names=cols)
    df = df.apply(pd.to_numeric, errors='coerce')
    df.to_csv(csv_name, index=False)


# takes a url as an input
#checks status code = 200 to read it
#takes data from website and writes to a txt file and a csv
# MUST BE A TXT FILE URL!!!
def read_url_txt(url):
    # if url[-4] != ".txt":
    #     print("url must be a txt")
    r = requests.get(url)
    if r.status_code != 200:
        print(f"url status code is {r.status_code} not 200. Please check your url")
        return
    write_txt(txt_name, r)
    txt_to_csv(txt_name, colspecs, cols, csv_name)

read_url_txt(url)

In [31]:
#print(pd.read_fwf(txt_name).head().to_markdown())

|    |   0101051895 |   0.11 |   -0.81 |   -0.56 |   -0.72 |   -0.85 |   -0.99 |   -0.90 |   -1.13 |   -1.69 |   -1.72 |   -2.04 |   -2.12 |
|---:|-------------:|-------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|
|  0 |  1.01052e+08 |  -2.47 |   -2.06 |   -1.75 |   -1.84 |   -2.16 |   -1.74 |   -1.53 |   -2.1  |   -2.23 |   -2.41 |   -1.61 |   -2.53 |
|  1 |  1.01052e+08 |  -2.45 |    0.05 |    1.48 |    1.98 |   -0.51 |   -1.02 |   -1.39 |   -1.5  |   -2.49 |   -3.02 |   -3.23 |   -2.63 |
|  2 |  1.01052e+08 |  -1.73 |   -2.43 |   -2.75 |   -2.09 |   -2.6  |   -2.72 |   -2.65 |   -2.47 |   -2.07 |   -1.67 |   -1.51 |   -1.97 |
|  3 |  1.01052e+08 |   0.15 |    0.46 |    0.96 |   -0.24 |   -0.89 |   -1.51 |   -1.57 |   -2.1  |   -2.66 |   -2.85 |   -3.31 |   -2.88 |
|  4 |  1.01052e+08 |  -3.13 |   -2.41 |   -2.61 |   -2.15 |   -2.38 |    2.31 |   -0.12 |   -0.67 |   -0.61 |    0.34 |    0.75 |   -0.57 |

### Cleaning data
Make a new csv that contains normalized precip data by state

In [45]:
df = pd.read_csv("rain_dirty.csv").drop(["division", "element"], axis = 1)

months = ["jan","feb","mar",'apr',"may","jun","jul","aug","sep","oct","nov","dec"]
groups = ["state","year"]

csv_name_clean = "rain_clean.csv"

# takes are precip data, combines the months, and divisions to get average rain per state per year. After I normalize it
def normalized_data(df, months, groups):
    #column with yearly average, combines months
    df["yearly_avg"] = df[months].mean(axis=1)
    
    # combines averages across divisions of the state. now average per state
    #then normalizes values across states and years (x-mean)/std
    
    state_precip = df.groupby(groups)["yearly_avg"].mean()
    #no need to normlaize, PDSI is already scaled by state
    #state_precip["stand_precip"] = (state_precip["avg_precip"] - state_precip["avg_precip"].mean()) / state_precip["avg_precip"].std()

    #writes df to csv
    state_precip.to_csv(csv_name_clean)

In [48]:
normalized_data(df, months, groups)
#print(pd.read_csv("rain_clean.csv").head(1).to_markdown())

|    |   state |   year |   yearly_avg |
|---:|--------:|-------:|-------------:|
|  0 |       1 |   1895 |    -0.821354 |

# Farm data

In [4]:
farm_data = pd.read_excel("VA_State_US.xlsx")
#farm_data.head()

   VA_State_US     Unnamed: 1
0          NaN  United States
1          NaN        Alabama
2          NaN         Alaska
3          NaN        Arizona
4          NaN       Arkansas

In [ ]:
excel_path = "VA_State_US.xlsx"

# Read all sheets
all_sheets = pd.read_excel(excel_path, sheet_name=None)

all_state = pd.DataFrame()
# `all_sheets` is a dictionary: {sheet_name: DataFrame}

In [10]:
print(all_sheets.items())

dict_items([('Document map',     VA_State_US      Unnamed: 1
0           NaN   United States
1           NaN         Alabama
2           NaN          Alaska
3           NaN         Arizona
4           NaN        Arkansas
5           NaN      California
6           NaN        Colorado
7           NaN     Connecticut
8           NaN        Delaware
9           NaN         Florida
10          NaN         Georgia
11          NaN          Hawaii
12          NaN           Idaho
13          NaN        Illinois
14          NaN         Indiana
15          NaN            Iowa
16          NaN          Kansas
17          NaN        Kentucky
18          NaN       Louisiana
19          NaN           Maine
20          NaN        Maryland
21          NaN   Massachusetts
22          NaN        Michigan
23          NaN       Minnesota
24          NaN     Mississippi
25          NaN        Missouri
26          NaN         Montana
27          NaN        Nebraska
28          NaN          Nevada
29          NaN   New Hampshire
30          NaN      New Jersey
31          NaN      New Mexico
32          NaN        New York
33          NaN  North Carolina
34          NaN    North Dakota
35          NaN            Ohio
36          NaN        Oklahoma
37          NaN          Oregon
38          NaN    Pennsylvania
39          NaN    Rhode Island
40          NaN  South Carolina
41          NaN    South Dakota
42          NaN       Tennessee
43          NaN           Texas
44          NaN            Utah
45          NaN         Vermont
46          NaN        Virginia
47          NaN      Washington
48          NaN   West Virginia
49          NaN       Wisconsin
50          NaN         Wyoming), ('United States',    Value added to the U.S. economy by the agricultural sector, 1910-2025F\nNominal (current dollars)\n  \
0                                                 NaN
1                                       United States
2                                                 NaN
3                                                 NaN
4                            Value of crop production
..                                                ...
74                                                NaN
75                                                NaN
76  Footnotes\n\nData as of September 3, 2025.\nF ...
77                                                NaN
78         USDA/ERS Farm Income and Wealth Statistics

     Unnamed: 1   Unnamed: 2   Unnamed: 3  Unnamed: 4   Unnamed: 5  \
0           NaN          NaN          NaN         NaN          NaN
1          1910         1911         1912         NaN         1913
2   $1,000       $1,000       $1,000              NaN  $1,000
3           NaN          NaN          NaN         NaN          NaN
4       3598632      3135552      4082420         NaN      3067446
..          ...          ...          ...         ...          ...
74          NaN          NaN          NaN         NaN          NaN
75          NaN          NaN          NaN         NaN          NaN
76          NaN          NaN          NaN         NaN          NaN
77          NaN          NaN          NaN         NaN          NaN
78          NaN          NaN          NaN         NaN          NaN

     Unnamed: 6   Unnamed: 7   Unnamed: 8   Unnamed: 9  ... Unnamed: 108  \
0           NaN          NaN          NaN          NaN  ...          NaN
1          1914         1915         1916         1917  ...         2016
2   $1,000       $1,000       $1,000       $1,000       ...  $1,000
3           NaN          NaN          NaN          NaN  ...          NaN
4       3503411      3871324      3962322      7250951  ...    189302159
..          ...          ...          ...          ...  ...          ...
74          NaN          NaN          NaN          NaN  ...          NaN
75          NaN          NaN          NaN          NaN  ...          NaN
76          NaN          NaN          NaN          NaN  ...          NaN
77          NaN          NaN          NaN          NaN  ...          NaN
78          NaN          NaN          NaN          NaN  ...          NaN

   Unnamed: 109 Unnamed: 110 Unnamed: 111 Unnamed: 112 Unnamed: 113  \
0           NaN          NaN          NaN          NaN          NaN
1          2017         2018         2019         2020         2021
2   $1,000       $1,000       $1,000       $1,000       $1,000
3           NaN          NaN          NaN          NaN          NaN
4     187922103    186975525    179573074    193082425    245271105
..          ...          ...          ...          ...          ...
74          NaN          NaN          NaN          NaN          NaN
75          NaN          NaN          NaN          NaN          NaN
76          NaN          NaN          NaN          NaN          NaN
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN

   Unnamed: 114 Unnamed: 115 Unnamed: 116 Unnamed: 117
0           NaN          NaN          NaN          NaN
1          2022         2023         2024        2025F
2   $1,000       $1,000       $1,000       $1,000
3           NaN          NaN          NaN          NaN
4     271822122    273139413    233867991    235861106
..          ...          ...          ...          ...
74          NaN          NaN          NaN          NaN
75          NaN          NaN          NaN          NaN
76          NaN          NaN          NaN          NaN
77          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN

[79 rows x 118 columns]), ('Alabama',    Value added to the U.S. economy by the agricultural sector, 1910-2025F\nNominal (current dollars)\n  \
0                                                 NaN
1                                             Alabama
2                                                 NaN
3                                                 NaN
4                            Value of crop production
..                                                ...
74                                                NaN
75                                                NaN
76  Footnotes\n\nData as of September 3, 2025.\nF ...
77                                                NaN
78         USDA/ERS Farm Income and Wealth Statistics

     Unnamed: 1   Unnamed: 2   Unnamed: 3  Unnamed: 4   Unnamed: 5  \
0           NaN          NaN          NaN         NaN          NaN
1          1924         1925         1926         NaN         1927
2   $1,000       $1,000       $1,000              NaN  $1,000
3           NaN          NaN          NaN         NaN          NaN
4           NaN          NaN          NaN         NaN          NaN
..          ...          ...          ...         ...          ...
74          NaN          NaN          NaN         NaN          NaN
75          NaN          NaN          NaN         NaN          NaN
76          NaN          NaN          NaN         NaN          NaN
77          NaN          NaN          NaN         NaN          NaN
78          NaN          NaN          NaN         NaN          NaN

     Unnamed: 6   Unnamed: 7   Unnamed: 8   Unnamed: 9  ...  Unnamed: 93  \
0           NaN          NaN          NaN          NaN  ...          NaN
1          1928         1929         1930         1931  ...         2015
2   $1,000       $1,000       $1,000       $1,000       ...  $1,000
3           NaN          NaN          NaN          NaN  ...          NaN
4           NaN          NaN          NaN          NaN  ...      1035483
..          ...          ...          ...          ...  ...          ...
74          NaN          NaN          NaN          NaN  ...          NaN
75          NaN          NaN          NaN          NaN  ...          NaN
76          NaN          NaN          NaN          NaN  ...          NaN
77          NaN          NaN          NaN          NaN  ...          NaN
78          NaN          NaN          NaN          NaN  ...          NaN

    Unnamed: 94  Unnamed: 95  Unnamed: 96  Unnamed: 97  Unnamed: 98  \
0           NaN          NaN          NaN          NaN          NaN
1          2016         2017         2018         2019         2020
2   $1,000       $1,000       $1,000       $1,000       $1,000
3           NaN          NaN          NaN          NaN          NaN
4        970851      1099669      1143839      1050778      1163408
..          ...          ...          ...          ...          ...
74          NaN          NaN          NaN          NaN          NaN
75          NaN          NaN          NaN          NaN          NaN
76          NaN          NaN          NaN          NaN          NaN
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN

    Unnamed: 99 Unnamed: 100 Unnamed: 101 Unnamed: 102
0           NaN          NaN          NaN          NaN
1          2021         2022         2023         2024
2   $1,000       $1,000       $1,000       $1,000
3           NaN          NaN          NaN          NaN
4       1353965      1557607      1648966      1276965
..          ...          ...          ...          ...
74          NaN          NaN          NaN          NaN
75          NaN          NaN          NaN          NaN
76          NaN          NaN          NaN          NaN
77          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN

[79 rows x 103 columns]), ('Alaska',    Value added to the U.S. economy by the agricultural sector, 1910-2025F\nNominal (current dollars)\n  \
0                                                 NaN
1                                              Alaska
2                                                 NaN
3                                                 NaN
4                            Value of crop production
..                                                ...
70                                                NaN
71                                                NaN
72  Footnotes\n\nData as of September 3, 2025.\nF ...
73                                                NaN
74         USDA/ERS Farm Income and Wealth Statistics

     Unnamed: 1   Unnamed: 2   Unnamed: 3  Unnamed: 4   Unnamed: 5  \
0           NaN          NaN          NaN         NaN          NaN
1          1960         1961         1962         NaN         1963
2   $1,000       $1,000       $1,000              NaN  $1,000
3           NaN          NaN          NaN         NaN          NaN
4           680         1355         1228         NaN          908
..          ...          ...          ...         ...          ...
70          NaN          NaN          NaN         NaN          NaN
71          NaN          NaN          NaN         NaN          NaN
72          NaN          NaN          NaN         NaN          NaN
73          NaN          NaN          NaN         NaN          NaN
74          NaN          NaN          NaN         NaN          NaN

     Unnamed: 6   Unnamed: 7   Unnamed: 8   Unnamed: 9  ...  Unnamed: 57  \
0           NaN          NaN          NaN          NaN  ...          NaN
1          1964         1965         1966         1967  ...         2015
2   $1,000       $1,000       $1,000       $1,000       ...  $1,000
3           NaN          NaN          NaN          NaN  ...          NaN
4          1463         1138         1196         1110  ...        24487
..          ...          ...          ...          ...  ...          ...
70          NaN          NaN          NaN          NaN  ...          NaN
71          NaN          NaN          NaN          NaN  ...          NaN
72          NaN          NaN          NaN          NaN  ...          NaN
73          NaN          NaN          NaN          NaN  ...          NaN
74          NaN          NaN          NaN          NaN  ...          NaN

    Unnamed: 58  Unnamed: 59  Unnamed: 60  Unnamed: 61  Unnamed: 62  \
0           NaN          NaN          NaN          NaN          NaN
1          2016         2017         2018         2019         2020
2   $1,000       $1,000       $1,000       $1,000       $1,000
3           NaN          NaN          NaN          NaN          NaN
4         27723        28108        30625        30919        31224
..          ...          ...          ...          ...          ...
70          NaN          NaN          NaN          NaN          NaN
71          NaN          NaN          NaN          NaN          NaN
72          NaN          NaN          NaN          NaN          NaN
73          NaN          NaN          NaN          NaN          NaN
74          NaN          NaN          NaN          NaN          NaN

    Unnamed: 63  Unnamed: 64  Unnamed: 65  Unnamed: 66
0           NaN          NaN          NaN          NaN
1          2021         2022         2023         2024
2   $1,000       $1,000       $1,000       $1,000
3           NaN          NaN          NaN          NaN
4         38513        38158        41329        41819
..          ...          ...          ...          ...
70          NaN          NaN          NaN          NaN
71          NaN          NaN          NaN          NaN
72          NaN          NaN          NaN          NaN
73          NaN          NaN          NaN          NaN
74          NaN          NaN          NaN          NaN

[75 rows x 67 columns]), ('Arizona',    Value added to the U.S. economy by the agricultural sector, 1910-2025F\nNominal (current dollars)\n  \
0                                                 NaN
1                                             Arizona
2                                                 NaN
3                                                 NaN
4                            Value of crop production
..                                                ...
73                                                NaN
74                                                NaN
75  Footnotes\n\nData as of September 3, 2025.\nF ...
76                                                NaN
77         USDA/ERS Farm Income and Wealth Statistics

     Unnamed: 1   Unnamed: 2   Unnamed: 3  Unnamed: 4   Unnamed: 5  \
0           NaN          NaN          NaN         NaN          NaN
1          1924         1925         1926         NaN         1927
2   $1,000       $1,000       $1,000              NaN  $1,000
3           NaN          NaN          NaN         NaN          NaN
4           NaN          NaN          NaN         NaN          NaN
..          ...          ...          ...         ...          ...
73          NaN          NaN          NaN         NaN          NaN
74          NaN          NaN          NaN         NaN          NaN
75          NaN          NaN          NaN         NaN          NaN
76          NaN          NaN          NaN         NaN          NaN
77          NaN          NaN          NaN         NaN          NaN

     Unnamed: 6   Unnamed: 7   Unnamed: 8   Unnamed: 9  ...  Unnamed: 93  \
0           NaN          NaN          NaN          NaN  ...          NaN
1          1928         1929         1930         1931  ...         2015
2   $1,000       $1,000       $1,000       $1,000       ...  $1,000
3           NaN          NaN          NaN          NaN  ...          NaN
4           NaN          NaN          NaN          NaN  ...      2141742
..          ...          ...          ...          ...  ...          ...
73          NaN          NaN          NaN          NaN  ...          NaN
74          NaN          NaN          NaN          NaN  ...          NaN
75          NaN          NaN          NaN          NaN  ...          NaN
76          NaN          NaN          NaN          NaN  ...          NaN
77          NaN          NaN          NaN          NaN  ...          NaN

    Unnamed: 94  Unnamed: 95  Unnamed: 96  Unnamed: 97  Unnamed: 98  \
0           NaN          NaN          NaN          NaN          NaN
1          2016         2017         2018         2019         2020
2   $1,000       $1,000       $1,000       $1,000       $1,000
3           NaN          NaN          NaN          NaN          NaN
4       2351987      2724173      2342937      2692585      2282868
..          ...          ...          ...          ...          ...
73          NaN          NaN          NaN          NaN          NaN
74          NaN          NaN          NaN          NaN          NaN
75          NaN          NaN          NaN          NaN          NaN
76          NaN          NaN          NaN          NaN          NaN
77          NaN          NaN          NaN          NaN          NaN

    Unnamed: 99 Unnamed: 100 Unnamed: 101 Unnamed: 102
0           NaN          NaN          NaN          NaN
1          2021         2022         2023         2024
2   $1,000       $1,000       $1,000       $1,000
3           NaN          NaN          NaN          NaN
4       2282983      3016195      2790645      2529814
..          ...          ...          ...          ...
73          NaN          NaN          NaN          NaN
74          NaN          NaN          NaN          NaN
75          NaN          NaN          NaN          NaN
76          NaN          NaN          NaN          NaN
77          NaN          NaN          NaN          NaN

[78 rows x 103 columns]), ('Arkansas',    Value added to the U.S. economy by the agricultural sector, 1910-2025F\nNominal (current dollars)\n  \
0                                                 NaN
1                                            Arkansas
2                                                 NaN
3                                                 NaN
4                            Value of crop production
..                                                ...
73                                                NaN
74                                                NaN
75  Footnotes\n\nData as of September 3, 2025.\nF ...
76                                                NaN
77         USDA/ERS Farm Income and Wealth Statistics

     Unnamed: 1   Unnamed: 2   Unnamed: 3  Unnamed: 4   Unnamed: 5  \
0           NaN          NaN          NaN         NaN          NaN
1          1924         1925         1926         NaN         1927
2   $1,000       $1,000       $1,000              NaN  $1,000
3           NaN          NaN          NaN         NaN          NaN
4           NaN          NaN          NaN         NaN          NaN
..          ...          ...          ...         ...          ...
73          NaN          NaN          NaN         NaN          NaN
74          NaN          NaN          NaN         NaN          NaN
75          NaN          NaN          NaN         NaN          NaN
76          NaN          NaN          NaN         NaN          NaN
77          NaN          NaN          NaN         NaN          NaN

     Unnamed: 6   Unnamed: 7   Unnamed: 8   Unnamed: 9  ...  Unnamed: 93  \
0           NaN          NaN          NaN          NaN  ...          NaN
1          1928         1929         1930         1931  ...         2015
2   $1,000       $1,000       $1,000       $1,000       ...  $1,000
3           NaN          NaN          NaN          NaN  ...          NaN
4           NaN          NaN          NaN          NaN  ...      3182538
..          ...          ...          ...          ...  ...          ...
73          NaN          NaN          NaN          NaN  ...          NaN
74          NaN          NaN          NaN          NaN  ...          NaN
75          NaN          NaN          NaN          NaN  ...          NaN
76          NaN          NaN          NaN          NaN  ...          NaN
77          NaN          NaN          NaN          NaN  ...          NaN

    Unnamed: 94  Unnamed: 95  Unnamed: 96  Unnamed: 97  Unnamed: 98  \
0           NaN          NaN          NaN          NaN          NaN
1          2016         2017         2018         2019         2020
2   $1,000       $1,000       $1,000       $1,000       $1,000
3           NaN          NaN          NaN          NaN          NaN

In [19]:
for name, df in all_sheets.items():
    # print(f"Sheet: {name}")
    # print(df.head())
    print(name)
    if name != "Document Map":
        if name != "United States":
            df["state"] = name
            # removes rows where first column is NaN
            #df.drop([0,2,3,16,25,34,36,55,57,62,66,72,74,75,76])
            #df = df[df.iloc[:, 1].notna()]
            df.to_csv(f"state_farm_data/{name}.csv")

            all_state = pd.concat([all_state,df])

Document map
United States
Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming

In [20]:
all_state.head()
all_state.to_csv("all_state.csv")

In [ ]:

combined_df = pd.concat(all_sheets.values(), ignore_index=True)
print(combined_df.head())
combined_df.to_csv("test.csv")

   VA_State_US     Unnamed: 1  \
0          NaN  United States
1          NaN        Alabama
2          NaN         Alaska
3          NaN        Arizona
4          NaN       Arkansas

  Value added to the U.S. economy by the agricultural sector, 1910-2025F\nNominal (current dollars)\n  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Unnamed: 2 Unnamed: 3  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN         NaN        NaN        NaN        NaN
1        NaN        NaN         NaN        NaN        NaN        NaN
2        NaN        NaN         NaN        NaN        NaN        NaN
3        NaN        NaN         NaN        NaN        NaN        NaN
4        NaN        NaN         NaN        NaN        NaN        NaN

  Unnamed: 8  ... Unnamed: 108 Unnamed: 109 Unnamed: 110 Unnamed: 111  \
0        NaN  ...          NaN          NaN          NaN          NaN
1        NaN  ...          NaN          NaN          NaN          NaN
2        NaN  ...          NaN          NaN          NaN          NaN
3        NaN  ...          NaN          NaN          NaN          NaN
4        NaN  ...          NaN          NaN          NaN          NaN

  Unnamed: 112 Unnamed: 113 Unnamed: 114 Unnamed: 115 Unnamed: 116  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 117
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 119 columns]

## Joining farm and precip data

In [ ]:
full_farm_clean = pd.read_excel("FarmIncome_full.xlsx")

In [24]:
state_precip = pd.read_csv("rain_clean.csv")

combined_data = pd.merge(full_farm_clean, state_precip, on = ["state", "year"])

combined_data.head()
combined_data.to_csv("combined_farm_precip.csv")